<?php
/**
 * InventoryApi
 * PHP version 5
 *
 * @category Class
 * @package  Suppliers\Api
 * @author   Swagger Codegen team
 * @link     https://github.com/swagger-api/swagger-codegen
 */

/**
 * SMS API
 *
 * This documentation describes SMS API. To use this API you should have an api-key and api-username
 *
 * OpenAPI spec version: 1.0.0
 * Contact: apiteam@swagger.io
 * Generated by: https://github.com/swagger-api/swagger-codegen.git
 *
 */

/**
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen
 * Do not edit the class manually.
 */

namespace Suppliers\Api\Api;

use \Suppliers\Api\ApiClient;
use \Suppliers\Api\ApiException;
use \Suppliers\Api\Configuration;
use \Suppliers\Api\ObjectSerializer;

/**
 * InventoryApi Class Doc Comment
 *
 * @category Class
 * @package  Suppliers\Api
 * @author   Swagger Codegen team
 * @link     https://github.com/swagger-api/swagger-codegen
 */
class InventoryApi
{
    /**
     * API Client
     *
     * @var \Suppliers\Api\ApiClient instance of the ApiClient
     */
    protected $apiClient;

    /**
     * Constructor
     *
     * @param \Suppliers\Api\ApiClient|null $apiClient The api client to use
     */
    public function __construct(\Suppliers\Api\ApiClient $apiClient = null)
    {
        if ($apiClient === null) {
            $apiClient = new ApiClient();
        }

        $this->apiClient = $apiClient;
    }

    /**
     * Get API client
     *
     * @return \Suppliers\Api\ApiClient get the API client
     */
    public function getApiClient()
    {
        return $this->apiClient;
    }

    /**
     * Set the API client
     *
     * @param \Suppliers\Api\ApiClient $apiClient set the API client
     *
     * @return InventoryApi
     */
    public function setApiClient(\Suppliers\Api\ApiClient $apiClient)
    {
        $this->apiClient = $apiClient;
        return $this;
    }

    /**
     * Operation createInventoryUnit
     *
     * Create new inventory unit
     *
     * @param string $id ID of inventory (required)
     * @param \Suppliers\Api\Model\CreateInventoryUnitRequest $body Inventory unit object that needs to be added to the inventory (required)
     * @throws \Suppliers\Api\ApiException on non-2xx response
     * @return \Suppliers\Api\Model\CreateInventoryUnitResponse
     */
    public function createInventoryUnit($id, $body)
    {
        list($response) = $this->createInventoryUnitWithHttpInfo($id, $body);
        return $response;
    }

    /**
     * Operation createInventoryUnitWithHttpInfo
     *
     * Create new inventory unit
     *
     * @param string $id ID of inventory (required)
     * @param \Suppliers\Api\Model\CreateInventoryUnitRequest $body Inventory unit object that needs to be added to the inventory (required)
     * @throws \Suppliers\Api\ApiException on non-2xx response
     * @return array of \Suppliers\Api\Model\CreateInventoryUnitResponse, HTTP status code, HTTP response headers (array of strings)
     */
    public function createInventoryUnitWithHttpInfo($id, $body)
    {
        // verify the required parameter 'id' is set
        if ($id === null) {
            throw new \InvalidArgumentException('Missing the required parameter $id when calling createInventoryUnit');
        }
        // verify the required parameter 'body' is set
        if ($body === null) {
            throw new \InvalidArgumentException('Missing the required parameter $body when calling createInventoryUnit');
        }
        // parse inputs
        $resourcePath = "/inventories/{id}/units";
        $httpBody = '';
        $queryParams = [];
        $headerParams = [];
        $formParams = [];
        $_header_accept = $this->apiClient->selectHeaderAccept(['application/json']);
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType([]);

        // path params
        if ($id !== null) {
            $resourcePath = str_replace(
                "{" . "id" . "}",
                $this->apiClient->getSerializer()->toPathValue($id),
                $resourcePath
            );
        }
        // default format to json
        $resourcePath = str_replace("{format}", "json", $resourcePath);

        // body params
        $_tempBody = null;
        if (isset($body)) {
            $_tempBody = $body;
        }

        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // this endpoint requires API key authentication
        $apiKey = $this->apiClient->getApiKeyWithPrefix('api-key');
        if (strlen($apiKey) !== 0) {
            $headerParams['api-key'] = $apiKey;
        }
        // this endpoint requires API key authentication
        $apiKey = $this->apiClient->getApiKeyWithPrefix('api-username');
        if (strlen($apiKey) !== 0) {
            $headerParams['api-username'] = $apiKey;
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'POST',
                $queryParams,
                $httpBody,
                $headerParams,
                '\Suppliers\Api\Model\CreateInventoryUnitResponse',
                '/inventories/{id}/units'
            );

            return [$this->apiClient->getSerializer()->deserialize($response, '\Suppliers\Api\Model\CreateInventoryUnitResponse', $httpHeader), $statusCode, $httpHeader];
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 201:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\Suppliers\Api\Model\CreateInventoryUnitResponse', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
                case 400:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\Suppliers\Api\Model\BadRequestResponse', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }

            throw $e;
        }
    }

    /**
     * Operation createInventoryUnitImport
     *
     * Create new inventory import
     *
     * @param string $id ID of inventory (required)
     * @param \Suppliers\Api\Model\CreateInventoryUnitImportRequest $body Inventory import request which stores all the necessary info (required)
     * @throws \Suppliers\Api\ApiException on non-2xx response
     * @return void
     */
    public function createInventoryUnitImport($id, $body)
    {
        list($response) = $this->createInventoryUnitImportWithHttpInfo($id, $body);
        return $response;
    }

    /**
     * Operation createInventoryUnitImportWithHttpInfo
     *
     * Create new inventory import
     *
     * @param string $id ID of inventory (required)
     * @param \Suppliers\Api\Model\CreateInventoryUnitImportRequest $body Inventory import request which stores all the necessary info (required)
     * @throws \Suppliers\Api\ApiException on non-2xx response
     * @return array of null, HTTP status code, HTTP response headers (array of strings)
     */
    public function createInventoryUnitImportWithHttpInfo($id, $body)
    {
        // verify the required parameter 'id' is set
        if ($id === null) {
            throw new \InvalidArgumentException('Missing the required parameter $id when calling createInventoryUnitImport');
        }
        // verify the required parameter 'body' is set
        if ($body === null) {
            throw new \InvalidArgumentException('Missing the required parameter $body when calling createInventoryUnitImport');
        }
        // parse inputs
        $resourcePath = "/inventories/{id}/import-requests";
        $httpBody = '';
        $queryParams = [];
        $headerParams = [];
        $formParams = [];
        $_header_accept = $this->apiClient->selectHeaderAccept(['application/json']);
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType([]);

        // path params
        if ($id !== null) {
            $resourcePath = str_replace(
                "{" . "id" . "}",
                $this->apiClient->getSerializer()->toPathValue($id),
                $resourcePath
            );
        }
        // default format to json
        $resourcePath = str_replace("{format}", "json", $resourcePath);

        // body params
        $_tempBody = null;
        if (isset($body)) {
            $_tempBody = $body;
        }

        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // this endpoint requires API key authentication
        $apiKey = $this->apiClient->getApiKeyWithPrefix('api-key');
        if (strlen($apiKey) !== 0) {
            $headerParams['api-key'] = $apiKey;
        }
        // this endpoint requires API key authentication
        $apiKey = $this->apiClient->getApiKeyWithPrefix('api-username');
        if (strlen($apiKey) !== 0) {
            $headerParams['api-username'] = $apiKey;
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'POST',
                $queryParams,
                $httpBody,
                $headerParams,
                null,
                '/inventories/{id}/import-requests'
            );

            return [null, $statusCode, $httpHeader];
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 400:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\Suppliers\Api\Model\BadRequestResponse', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }

            throw $e;
        }
    }

    /**
     * Operation getInventoryByID
     *
     * Find inventory by ID
     *
     * @param string $id ID of inventory to return (required)
     * @throws \Suppliers\Api\ApiException on non-2xx response
     * @return \Suppliers\Api\Model\GetInventoryByIDResponse
     */
    public function getInventoryByID($id)
    {
        list($response) = $this->getInventoryByIDWithHttpInfo($id);
        return $response;
    }

    /**
     * Operation getInventoryByIDWithHttpInfo
     *
     * Find inventory by ID
     *
     * @param string $id ID of inventory to return (required)
     * @throws \Suppliers\Api\ApiException on non-2xx response
     * @return array of \Suppliers\Api\Model\GetInventoryByIDResponse, HTTP status code, HTTP response headers (array of strings)
     */
    public function getInventoryByIDWithHttpInfo($id)
    {
        // verify the required parameter 'id' is set
        if ($id === null) {
            throw new \InvalidArgumentException('Missing the required parameter $id when calling getInventoryByID');
        }
        // parse inputs
        $resourcePath = "/inventories/{id}";
        $httpBody = '';
        $queryParams = [];
        $headerParams = [];
        $formParams = [];
        $_header_accept = $this->apiClient->selectHeaderAccept(['application/json']);
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType([]);

        // path params
        if ($id !== null) {
            $resourcePath = str_replace(
                "{" . "id" . "}",
                $this->apiClient->getSerializer()->toPathValue($id),
                $resourcePath
            );
        }
        // default format to json
        $resourcePath = str_replace("{format}", "json", $resourcePath);

        
        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // this endpoint requires API key authentication
        $apiKey = $this->apiClient->getApiKeyWithPrefix('api-key');
        if (strlen($apiKey) !== 0) {
            $headerParams['api-key'] = $apiKey;
        }
        // this endpoint requires API key authentication
        $apiKey = $this->apiClient->getApiKeyWithPrefix('api-username');
        if (strlen($apiKey) !== 0) {
            $headerParams['api-username'] = $apiKey;
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'GET',
                $queryParams,
                $httpBody,
                $headerParams,
                '\Suppliers\Api\Model\GetInventoryByIDResponse',
                '/inventories/{id}'
            );

            return [$this->apiClient->getSerializer()->deserialize($response, '\Suppliers\Api\Model\GetInventoryByIDResponse', $httpHeader), $statusCode, $httpHeader];
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\Suppliers\Api\Model\GetInventoryByIDResponse', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }

            throw $e;
        }
    }

    /**
     * Operation getInventoryUnitsByInventoryID
     *
     * Find all inventory units by inventory ID
     *
     * @param string $id ID of inventory (required)
     * @throws \Suppliers\Api\ApiException on non-2xx response
     * @return void
     */
    public function getInventoryUnitsByInventoryID($id)
    {
        list($response) = $this->getInventoryUnitsByInventoryIDWithHttpInfo($id);
        return $response;
    }

    /**
     * Operation getInventoryUnitsByInventoryIDWithHttpInfo
     *
     * Find all inventory units by inventory ID
     *
     * @param string $id ID of inventory (required)
     * @throws \Suppliers\Api\ApiException on non-2xx response
     * @return array of null, HTTP status code, HTTP response headers (array of strings)
     */
    public function getInventoryUnitsByInventoryIDWithHttpInfo($id)
    {
        // verify the required parameter 'id' is set
        if ($id === null) {
            throw new \InvalidArgumentException('Missing the required parameter $id when calling getInventoryUnitsByInventoryID');
        }
        // parse inputs
        $resourcePath = "/inventories/{id}/units";
        $httpBody = '';
        $queryParams = [];
        $headerParams = [];
        $formParams = [];
        $_header_accept = $this->apiClient->selectHeaderAccept(['application/json']);
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType([]);

        // path params
        if ($id !== null) {
            $resourcePath = str_replace(
                "{" . "id" . "}",
                $this->apiClient->getSerializer()->toPathValue($id),
                $resourcePath
            );
        }
        // default format to json
        $resourcePath = str_replace("{format}", "json", $resourcePath);

        
        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // this endpoint requires API key authentication
        $apiKey = $this->apiClient->getApiKeyWithPrefix('api-key');
        if (strlen($apiKey) !== 0) {
            $headerParams['api-key'] = $apiKey;
        }
        // this endpoint requires API key authentication
        $apiKey = $this->apiClient->getApiKeyWithPrefix('api-username');
        if (strlen($apiKey) !== 0) {
            $headerParams['api-username'] = $apiKey;
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'GET',
                $queryParams,
                $httpBody,
                $headerParams,
                null,
                '/inventories/{id}/units'
            );

            return [null, $statusCode, $httpHeader];
        } catch (ApiException $e) {
            switch ($e->getCode()) {
            }

            throw $e;
        }
    }
}
